AddDefaultCharset UTF-8
DirectoryIndex index.php

ErrorDocument 404 http://allmassage.com.ua/error.html
ErrorDocument 403 http://allmassage.com.ua/error.html
ErrorDocument 500 http://allmassage.com.ua/error.html

RewriteEngine on

 # on
RewriteBase /

RewriteRule dict https://github.com/BogdanRadionov/nvda-UsefulDictionary
